@import url(../css/font.css);

@import url(../css/partials/_variable.css);
@import url(../css/partials/_global.css);

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 0.9375rem/0.125rem var(--roboto) ;
    text-transform: uppercase;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after {
    content: "";
    height: 0.125rem;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-0.625rem);
}

.site-main .site-banner .site-title h1 {
    font-size: 3rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.2rem;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 60rem;
}

