.title-text {
    font: normal bold 50px/55px var(--roboto);
}
.text-uppercase {
    text-transform: uppercase;
}
.button {
    padding: 0.6rem 2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
}

.button.primary-button {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .12s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

p.para {
    color: var(--text-color);
    font-weight: normal 500 16px/25px var(--roboto);
}

.font-roboto {
    font-family: var(--roboto);
    text-decoration: none;

}